:root {
    --background-1: hsl(0, 0%, 100%); /* White box background */
    --background-2: hsl(212, 45%, 89%); /* Light gray background */
    --text-1: hsl(218, 44%, 22%); /* Main text color */
    --text-2: hsl(220, 15%, 55%); /* Description text color */
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100svh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-2);
}

p, h2 {
    font-family: Outfit, sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#card {
    width: 320px;
    height: 500px;
    border-radius: 22px;
    background-color: var(--background-1);
}

#qr-code-image {
    width: 288px;
    border-radius: 13px;
    margin: 15px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--text-1);
}

.text {
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--text-2);
}

.credits {
    position: absolute;
    bottom: 10px;
}

@media (max-width:520px) {
    .credits { 
        bottom: 0;
        width: 250px;
    }
}

@media (max-width:300px) {
    #qr-code-image {
        width: 255px;
        margin-bottom: 15px;
    }
}